$color-text-accent: #fff;
$color-shadow: #000;
$color-text-altern: #b40d5a;
$color-logo-blue: #0f99c6;
$color-logo-yellow: #d6c00d;

.navbar {
  box-shadow: 0 2px 5px $color-shadow;
}

.navbar-logo {
  width: 30px;
}

.navbar-text {
  margin: 0;
  color: $color-logo-blue;
}

.navbar-text-accent {
  color: $color-logo-yellow;
}

.navbar-brand {
  color: $color-text-accent;
}

.about-us-link {
  display: inline-block;
  color: $color-text-accent;
}
