<div class="card-container">
  <div class="card-header">
    <div class="card-image-container">
      <%= image_tag('http://via.placeholder.com/200x200', alt: 'Foto del funcionario', class: 'profile-image')%>
    </div>
    <div class="profile-info">
      <p class="profile-label">Nombre</p>
      <p class="profile-data profile-name">Oracio</p>
      <p class="profile-label">Puesto</p>
      <p class="profile-data profile-position">Hokage</p>
    </div>
  </div>
  <div class="card-body">
    <div class="salary-result-container">
      <p class="profile-label">Salario resultante</p>
      <h3 class="salary-result">$17, 573.00 MXN</h3>
    </div>
    <div class="salary-status-container">
      <p class="profile-label">Estado del salario</p>
      <h3 class="salary-status salary-normal">Aceptable</h3>
    </div>
  </div>
</div>
