<section class="hero__carousel">
  <div class="container">
    <div class="carousel" data-flickity>
      <div class="carousel-cell">
        <h2>Informate</h2>
        <%= image_tag('search.png', alt: 'communication', class: 'carousel__icon col-md-4')%>
      </div>
      <div class="carousel-cell">
        <h2>Actua</h2>
        <%= image_tag('communication.png', alt: 'communication', class: 'carousel__icon col-md-4')%>
      </div>
      <div class="carousel-cell">
        <h2>Transforma</h2>
        <%= image_tag('link.png', alt: 'communication', class: 'carousel__icon col-md-4')%>
      </div>
    </div>
  </div>
</section>
