<nav class="navbar bg-dark">
  <a href="/" class="navbar-brand nav-link">
    <%= image_tag('transforma_logo.png', alt: 'Transforma logo', class: 'navbar-logo')%>
    <p class="navbar-text">Trans<span class="navbar-text-accent">Forma</span></p>
  </a>
  <a href="/about-us" class="nav-link about-us-link">Acerca de</a>
</nav>
