$color-background-carousel: #EEE;
$color-gray: #F4F7F9;
$color-green: #8C8;
$color-logo-blue: #0f99c6;
$color-logo-yellow: #d6c00d;
$color-shadow: #000;
$color-text-accent: #fff;
$color-text-altern: #b40d5a;
$color-text-normal: #000;